# Development and Build files
node_modules/
npm-debug.log
yarn-error.log
*.pnp.js
*.pnp.cjs
**/__tests__/
**/*.spec.ts
**/*.spec.tsx
**/*.test.ts
**/*.test.tsx
**/__mocks__/
coverage/
build/
*.log

# Editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.suo
*.user
*.sln.docstates

# Docker-related files
Dockerfile*
docker-compose*.yml
.dockerignore

# Git-related files
.git
.gitignore

# System and Temporary files
*.md
*.markdown
*.gitignore
*.gitattributes
*.yml
*.yml.bak
*.swp
*.bak
*.tmp
*.sublime-*
*.swo
*.log
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
RECYCLER/
*.cab
*.msi
*.log
*.tmp
*.tmp/
*.swp
npm-debug.log
*.dat
*.log
*.sqlite
*.sql
*.db
*.db-shm
*.db-wal
