@tailwind components;

@layer components {
  .hoverUnderline {
    @apply relative inline-block;
  }

  .hoverUnderline::after {
    @apply absolute bottom-[-4px] left-0 h-[2px] w-full origin-bottom-right scale-x-0 transform rounded bg-primary transition duration-[0.35s] ease-[out-expo] content-[''];
  }

  .hoverUnderline:hover::after {
    @apply origin-bottom-left scale-x-100;
  }

  .popUpAnimation {
    @apply duration-300 ease-in-out hover:scale-110 hover:cursor-pointer hover:text-white sm:space-y-6;
  }

  .popUpAnimation:hover
    > .statIconAndTitleContainer
    > .statNumber
    > .statPlusIcon
    > svg {
    @apply fill-white opacity-100 delay-custom ease-in-out;
  }

  .loading-container {
    @apply flex h-screen items-center justify-center;
  }

  .loading-spinner {
    @apply h-16 w-16 animate-customSpin rounded-full border-b-4 border-l-4 border-primary;
  }
}
