@tailwind components;

@layer components {
  .button {
    @apply w-48 self-center rounded-xl border-2 border-primary bg-primary py-2 text-center text-sm tracking-wider text-white shadow-lg transition-all duration-[250ms] ease-in-out hover:bg-white hover:text-primary focus:outline-none active:scale-95 active:rounded-3xl sm:my-4 sm:w-56 sm:text-lg xl:self-start;
  }
  .yellowBlock {
    @apply absolute right-0 top-0 -z-10 h-full w-1/2 rounded-xl bg-tertiary shadow-lg xl:w-[28%];
  }
  .bulletPoint {
    @apply mr-1 mt-2 h-3 w-3 min-w-[12px] max-w-[12px];
  }
  .navBtns {
    @apply mr-3 flex h-[35px] items-center justify-center whitespace-nowrap rounded border-2 border-slate-400 px-2 text-[18px] text-slate-600 transition-all duration-[150ms] ease-in hover:border-primary hover:text-primary;
  }
  .bulletPoint {
    @apply mr-1 mt-2 h-3 w-3 min-w-[12px] max-w-[12px];
  }
  .os-theme-dark {
    --os-handle-max-size: 20px;
    --os-handle-min-size: 20px;
    --os-handle-border-radius: 13px;
    --os-size: 8px;
    --os-handle-perpendicular-size: 500%;
    --os-padding-axis: 160px;
    --os-handle-interactive-area-offset: 10px;
  }
}
