@tailwind components;

@layer components {
     .button {
    @apply w-48 self-center rounded-xl border-2 border-primary bg-primary py-2 text-center text-sm tracking-wider text-white shadow-lg transition-all duration-[250ms] ease-in-out hover:bg-white hover:text-primary focus:outline-none sm:my-4 sm:w-56 sm:text-lg xl:self-start active:scale-95 active:rounded-3xl;
  }
   .yellowBlock {
    @apply absolute right-0 top-0 -z-10 h-full w-1/2 rounded-tl-[20%] bg-tertiary shadow-lg xl:w-[28%];
  }
  .bulletPoint {
    @apply mr-1 mt-2 h-3 w-3 min-w-[12px] max-w-[12px];
  }
  .navBtns {
    @apply text-[18px] text-slate-600 border-2 border-slate-400 hover:border-primary transition-all duration-[150ms] ease-in rounded px-2 mr-3 hover:text-primary flex items-center justify-center h-[35px] whitespace-nowrap;
  }
  .bulletPoint {
    @apply mr-1 mt-2 h-3 w-3 min-w-[12px] max-w-[12px];
  }
  .os-theme-dark {
    --os-handle-max-size: 20px;
    --os-handle-min-size: 20px;
    --os-handle-border-radius: 13px;
    --os-size: 8px;
    --os-handle-perpendicular-size: 500%;
    --os-padding-axis: 160px;
    --os-handle-interactive-area-offset: 10px;
  }
}