.os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
  @apply !m-[-9px] !bg-countdown;
}

.os-scrollbar-vertical:hover .os-scrollbar-handle {
  @apply !w-[500%];
}

.os-scrollbar-track {
  @apply !translate-x-[-15px] !rounded-xl !bg-slide !opacity-60;
}
